/* select the topic + control + f to find (VS Code)

 #general style
 #navbar
 #primary landing page
 #key features
 #our partners
 #video
 #form
 #footer
 #general responsive part

*/

/* #general style */
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--white);
}

body::-webkit-scrollbar-thumb {
  background: var(--winter-sky);
}

body,
html {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body,
button {
  font-size: 20px;
}

a {
  all: unset;
}

.basic-text {
  color: var(--eerie-black);
  font-size: 22px;
}

.italic {
  font-style: italic;
}

.title-text {
  text-align: center;
  font-size: 80px;
  font-weight: bolder;
}

.accent {
  color: var(--winter-sky);
}

.black {
  color: var(--black);
}

.subtitle {
  display: flex;
  justify-content: center;
}

.text-silver {
  color: var(--sonic-silver);
}

.left {
  padding-left: 150px;
}

.thin-title {
  font-size: 70px;
}

.accent-darker {
  background: var(--pictorial-carmine);
}

.text-silver {
  color: var(--sonic-silver);
}

.line {
  width: 101px;
  height: 4px;
  background: var(--winter-sky);
  margin-top: 30px;
  margin-bottom: 40px;
}
/* #general style */

/* #navbar */
.flag {
  max-width: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > a,
.dropdown > button {
  background-color: white;
  border: none;
  display: inline-block;
  text-decoration: none;
}

.bi-chevron-down {
  font-size: 15px;
}

.dropdown input[type="checkbox"] {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 0;
}

.dropdown input[type="checkbox"]:checked {
  position: fixed;
  z-index: +0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.dropdown ul {
  position: absolute;
  top: 70px;
  border-radius: 3px;
  left: 0px;
  list-style: none;
  padding: 4px 0px;
  display: none;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  max-height: 200px;
}

.dropdown input[type="checkbox"]:checked + ul {
  display: block;
}

.dropdown ul li {
  text-align: center;
  display: block;
  white-space: nowrap;
  min-width: 100px;
}

.dropdown ul li:hover {
  cursor: pointer;
}

.dropdown ul li a {
  text-decoration: none;
  display: block;
}

.select-language {
  display: none;
}

.select-language img {
  max-width: 25px;
}

.fa {
  color: var(--winter-sky);
}

nav {
  height: 80px;
  width: 100%;
  background: var(--white);
  color: var(--eerie-black);
  position: relative;
  z-index: 5;
}

label.logo {
  font-weight: bold;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
}

nav ul {
  float: right;
  margin-right: 80px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
  line-height: 80px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 7px 14px;
  border-radius: 3px;
}

.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

a.active,
a:hover {
  opacity: 0.5;
  transition: 1s;
}

#check {
  display: none;
}

@media (max-width: 1067px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1100px) {
  nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }

  .select-language {
    display: block;
  }

  .select-desktop {
    display: none;
  }

  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 100vw;
    margin: 0px;
    top: 80px;
    background: var(--white);
    text-align: center;
    transition: all 0.5s;
    padding: 0;
    z-index: 5;
  }

  nav ul li {
    display: block;
  }

  nav ul li a {
    font-size: 20px;
    cursor: pointer;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

.button {
  width: 207px;
  height: 50px;
  background: var(--winter-sky);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  border: none;
  color: var(--white);
}
/* #navbar */

/* #primary landing page */
.primary-landing-container {
  height: 100vh;
  min-height: 800px;
  background-color: white;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90vh 10vh;
}

.hi {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 30px;
  color: var(--winter-sky);
  font-weight: 700;
}

.link-center {
  display: grid;
  width: 100vw;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  margin-bottom: 60px;
}

.link-center img {
  margin: 0 auto;
}

.landing-art {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.landing-description {
  background-size: cover;
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.text-max-width-large {
  max-width: 40vw;
}

.image-max-width {
  max-width: 40vw;
}
/* #primary landing page */

/* #key features */
.title-main-container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.cards-main-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.landing-silver-container {
  background-color: var(--cultured);
  display: block;
  min-height: 800px;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  padding-top: 100px;
  position: relative;
  z-index: 1;
}

.card-container {
  width: 300px;
  height: auto;
}

.card-image {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.card-text {
  text-align: center;
}
/* #key features */

/* #our partners */
.pink-rounded-background {
  background-color: var(--winter-sky);
  height: 500px;
  width: 500px;
  border-radius: 0 0 600px 0;
  position: absolute;
  left: 0;
  justify-content: center;
  z-index: 0;
  filter: blur(120px);
  left: -84px;
}

.text-our-partners {
  padding: 70px;
  color: var(--white);
  font-size: 60px;
  z-index: 2;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}

.mobile-art {
  height: auto;
  min-height: 100vh;
  background: white;
  justify-content: center;
  background-image: url(../images/our_partners.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.our-partners-image {
  margin-top: 150px;
}
/* #our partners */

/* #video */
.partner-video {
  background-color: white;
  width: 100vw;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: center;
}

.monitor {
  background-image: url(../images/monitor.png);
  background-size: cover;
  height: 782px;
  width: 907px;
  display: grid;
  justify-content: center;
  padding-top: 20px;
}

.container-sticker {
  justify-content: center;
  width: 1107px;
  height: auto;
  min-height: 100vh;
}

.round-sticker {
  position: absolute;
}

.video-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.partner-video-mobile {
  display: none;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* #video */

/* #form */
.contact-form {
  max-width: 1264px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.form-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 200px 0 200px 0;
  width: 100vw;
}

.form-button {
  width: 100%;
  height: 82px;
  background: var(--winter-sky);
  color: white;
  border: none;
  border-radius: 0px 0px 20px 20px;
}

.form-body {
  padding: 50px;
  padding-top: 20px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
}

.form-title {
  padding: 50px 0 0 50px;
  font-size: 40px;
  font-weight: 700;
}

.form-input {
  border: 1.5px solid var(--gainsboro);
  border-radius: 10px;
  width: 100%;
  height: 50px;
  outline: none;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0 10px;
}

.textarea {
  padding: 10px 10px;
  min-height: 138px;
  resize: none;
}

.form-label {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 15px;
}
/* #form */

/* #footer */
.android {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--eerie-black);
  color: var(--white);
}

footer * {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-main {
  padding: 80px 80px 0px 80px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.darker-detail {
  background-color: var(--black);
  margin: 0;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
}

.compatibility-list {
  font-size: 3.5rem;
  font-weight: 300;
  padding-bottom: 80px;
}

@media (max-width: 1060px) {
  .darker-detail {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 20px;
    text-align: center;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
  }

  .footer-main {
    padding: 80px 40px 0px 40px;
  }

  .compatibility-list {
    font-size: 2rem;
  }

  .android {
    margin: 0 auto;
    padding-top: 100px;
  }
}

@media (max-width: 1200px) {
  .android {
    max-width: 400px;
    max-height: 256px;
    width: auto;
    height: auto;
  }
}

@media (max-width: 900px) {
  .android {
    max-width: 90%;
  }
}
/* #footer */

/* #general responsive part */
@media (max-width: 620px) {
  .form-container {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }

  .title-sub-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  .pink-rounded-background {
    height: 300px;
    width: 300px;
  }

  .primary-landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100vw;
  }

  .landing-art {
    order: 2;
  }

  .landing-description {
    order: 1;
    margin-top: 130px;
    width: 90%;
  }

  .responsive-text {
    font-size: 1rem;
  }

  .title-text,
  .text-our-partners,
  .form-title,
  .thin-title {
    font-size: 2rem;
  }

  .basic-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .text-max-width-large {
    width: 100vw;
    max-width: 100vw;
  }

  .image-max-width {
    width: 100vw;
    max-width: 100vw;
  }

  .link-center {
    order: 3;
  }

  .cards-main-container {
    gap: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .card-container {
    margin: 0;
    padding: 0;
  }

  .landing-silver-container {
    height: auto;
    position: relative;
    padding-bottom: 200px;
  }

  .partner-video {
    display: none;
  }

  .partner-video-mobile {
    /* TODO: Pra mim, se você precisou usar !important, é porque algo não foi feito corretamente em algum momento */
    display: flex !important;
  }

  .form-body {
    display: flex;
    flex-direction: column;
  }
}
/* #general responsive part */
